@import "../../common/color.scss";

.movie-section {
  display: flex;
  justify-content: space-evenly;
  padding: 50px 0;
  color: white;
  font-weight: 600;
  background-color:  rgb(49, 49, 49);
}

.movie-title {
  font-size: 45px;
}

.section-right {
  margin-left: 30px;
}